* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: black;
    font-size: 45px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

button {
    background-color: #FFA500;
    border-radius: 40px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ffba3a;

}

span {
    color: #FFA500;
    font-size: 55px;
    font-weight: 900;
    transition: 0.3s ease;
}

span:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

body {
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

.Mclaren {
    width: 300px;
}

.conteudo {
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caixa-texto {
    width: 600px;
}

.caixa-imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -40px;
}

.carrao {
    width: 400px;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.carrinho {
    width: 150px;
    cursor: pointer;
    justify-content: space-between;
    transition: 0.5s;
}

.carrinho:hover {
    transform: scale(1.3);
}

.circulo {
    background: #FFA500;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    clip-path: circle(69% at 120% 50%);
    z-index: -1;
    transition: background 0.4s ease;
}